<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.devopsdemo.dao.ServerMapper">


    <select id="selectById" parameterType="int" resultType="com.demo.devopsdemo.pojo.Server">
        select * from server where id = #{id}
    </select>

    <insert id="insertServer" parameterType="com.demo.devopsdemo.pojo.Server" flushCache="true">
         insert into server (id, hostname, ip, os,version,location,status ) values (#{id},#{hostname},#{ip},#{os}, #{version}, #{location}, #{status})

    </insert>



</mapper>